<header class="top">
  <h1>Projects</h1>
  <p>Here is a list of my projects!</p>
  <p>Click on one to learn more about it!</p>
</header>
<section>
  <nav>
      <img width="100%" src="/assets/teststandUI.png">
  </nav>
  <article class="content">
    <h1>Rocket Engine UI</h1>
    <p>explanation</p>
  </article>
</section>

<section>
  <nav>
    <img width="100%" src="/assets/schedule.png">
  </nav>
  <article class="content">
    <h1>Scheduling</h1>
    <p>explanation</p>
  </article>
</section>

<section>
  <nav>
    <img width="100%" src="/assets/tumor.jpg">
  </nav>
  <article class="content">
    <h1>Tumor Classifier</h1>
    <p>explanation</p>
  </article>
</section>

<section>
  <nav>
    <img width="100%" src="/assets/tripwire.png">
  </nav>
  <article class="content">
    <h1>Laser tripwire</h1>
    <p>explanation</p>
  </article>
</section>

<section>
  <nav>
      <img width="100%" src="/assets/modelRocket.jpg">
  </nav>
  <article class="content">
    <h1>Model Rocket Payload</h1>
    <p>explanation</p>
  </article>
</section>

<section>
  <nav>
      <img width="100%" src="/assets/harddrive2.jpg">
  </nav>
  <article class="content">
    <h1>JBOD Operation/Cache system</h1>
    <p>explanation</p>
  </article>
</section>
