<div class="background">
  <div class="information">
    <h1 class="first">Get in Touch!</h1>
    <p class="phone">Phone: 412-605-8491</p>
    <a class="link" href="mailto:szw5649@psu.edu" title="Email me!">Email: szw5649@psu.edu</a>
    <p></p>
    <a class="link" href="https://www.linkedin.com/in/sean-werner" title="Go to my LinkedIn!" target="_blank">LinkedIn: linkedin.com/in/sean-werner</a>
    <p></p>
    <a class="link" href="https://github.com/s-werner" title="Go to my Github!" target="_blank">GitHub: https://github.com/s-werner</a>
  </div>
</div>
